snippet ntag
	<${1:newtag}>${2}</$1>
snippet pro
	<project>
		${1}
	</project>
snippet mov
	<modelVersion>${1}</modelVersion>
snippet gid
	<groupID>${1}</groupID>
snippet aid
	<artifactID>${1}</artifactID>
snippet ver
	<version>${1}</version>
