snippet sett
	*** Settings ***
	Library			${1:OperatingSystem}
	${2}
snippet vari
	*** Variables ***
	${1:variables}
snippet testc
	*** Test Cases ***
	${1:test cases}
snippet keyw
	*** Keywords ***
	${1:key words}
snippet kwd
	*** ${1:kwd} ***
	${2}
snippet equal
	Should Be Equal			${1:argu_1}		${2:argu_2}
snippet exist
	Directory Should Exist		${1:path}
snippet argu
	[Arguments]		${1}
