[Desktop Entry]
Version=1.0
Encoding=UTF-8
Startupnotify=true
Name=GVim
GenericName=Editor
Comment=Graphical Version of vim
Exec=gvim --servername gvim --remote-tab-silent %U
TryExec=gvim
Icon=/home/marslo/.vim/tools/share/vim/vim74/gvim.png
Terminal=false
Type=Application
Categories=Application;Development;Programming;System Utilities;TextEditor
